---
import Layout from '../layouts/Layout.astro';
import App from '../components/App';
import ErrorBoundary from '../components/ErrorBoundary';
---

<Layout title="Ôh Xodó! - Surpresas para Casais">
  <main>
    <ErrorBoundary client:only="react">
      <App client:only="react" />
    </ErrorBoundary>
  </main>
</Layout>
